.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: $box-shadow-1;
    transform: transform .3s;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

}

.row2 {
    max-width: 114rem;
    margin: 0 auto;
    margin-top: -15rem;
  
    &:not(:last-child) {
        margin-bottom: $gutter-vertical; 

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond(tab-port) {
        max-width: 50rem;
        padding: 0 3rem
    }

    @include clearfix;

    [class^="col-"] {
        
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    } 
  }

  .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
    float: left;
    &:not(:last-child) {
      margin-right: 6rem;
    }
}


#gf {
    font-size: 8rem;
}

