.navbar-background{
  display: flex;
  justify-content: space-between;
  background-color: #20314B;
  height: 10vh;
  position: sticky;
}

.brand-container{
margin-left: 7vw;
margin-top: 10px;
}

.link-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8vw;
}

.nav-links{
  font-weight: 450;
  margin-left: 18px;
  text-decoration: none;
 flex-direction: row;
  color: white;
}
