.navbar-background{
  display: flex;
  justify-content: space-between;
  background-color: #20314B;
  height: 10vh;
  position: sticky;
}

.brand-container{
margin-left: 7vw;
margin-top: 10px;
}

.link-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8vw;
}

.nav-links{
  font-weight: 450;
  margin-left: 18px;
  text-decoration: none;
 flex-direction: row;
  color: white;
}




.herosection{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95vh;
  background-size: cover;
  background-image: url("https://ogden_images.s3.amazonaws.com/www.iamcountryside.com/images/sites/1/2019/03/19084309/AdobeStock_228778938-scaled-e1683315426520.jpeg");

}
.big-hero-print{
margin-top: 20vh;
margin-left: 10vw;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 45px;
  line-height: 1.7;
  color: white;
}

.little-hero-print{
  margin-left: 33vw;
  color: beige;
}